# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Databricks
.databricks/

# Local datasets
data/*.csv
data/*.json
data/*.parquet
data/*.xlsx

# Temporary files
*.tmp
*.log

# Jupyter
.ipynb_checkpoints/